.active-day {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(29, 77, 126) !important;
    z-index: 10;
}

.active-day:after {
    display: block;
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background-color: rgba(51, 153, 255, 0.4);
    border-radius: 50%;
    z-index: -1;
    top: -3px;
    left: -6px;
}

.inactive-day {
    content: '';
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
}

.input-calendar {
    pointer-events: none;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    height: 60px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #949494 solid 2px;
}

.input-calendar-with-course{
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    height: 60px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #949494 solid 2px;
    background-color: #ac93f8;
}

.input-calendar:focus {
    outline: none;
}

.input-calendar:active {
    outline: none;
}

.hours-calendar {
    display: table-cell;
    margin-right: 10px;
    vertical-align: bottom;
    text-align: right;
    color: #ac93f8;
}

.calendar-day {
    z-index: 1;
}

a.calendar-day:hover,
a.calendar-day:focus {
    color: #6633ff;
}