.course-card {
    margin: 10px 10px;
    max-width: 16em;
}

.icon-small {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    top: -1px;
    margin-right: 3px;
}

.course-time {
    position: absolute;
    bottom: 20px;
}